*.lo
*.o
*.stamp
*.m4
Makefile
Makefile.in
docs/reference/summer/html/
docs/reference/summer/libsummer-decl-list.txt
docs/reference/summer/libsummer-decl.txt
docs/reference/summer/libsummer-decl.txt.bak
docs/reference/summer/libsummer-overrides.txt
docs/reference/summer/libsummer-undeclared.txt
docs/reference/summer/libsummer-undocumented.txt
docs/reference/summer/libsummer-unused.txt
docs/reference/summer/libsummer.args
docs/reference/summer/libsummer.hierarchy
docs/reference/summer/libsummer.interfaces
docs/reference/summer/libsummer.prerequisites
docs/reference/summer/libsummer.signals
docs/reference/summer/version.xml
docs/reference/summer/tmpl/
docs/reference/summer/xml/
libsummer/tests/test_*
*.la
*.swp
libsummer/summer-marshal.[c,h]
.deps
.libs
*.pc
config.*
configure
autom4te.cache
bindings/python/summer.c
bindings/vala/libsummer-1.0.vapi
bindings/vala/libsummer-1.0/libsummer-1.0.gi
install-sh
gnome-doc-utils.make
gtk-doc.make
missing
depcomp
libtool
ltmain.sh
stamp-h1
